:root {
  --spe-sider-bg-color: #001529;
  --spe-info-color: #2962ff;
  --spe-success-color: #67c23a;
  --spe-danger-color: #f62d51;
  --spe-warning-color: #ffbc34;
  --spe-layout-border-color: #e2e8f0;
  --spe-layout-bg-color:#f1f3f6;
}
